@media (min-width: 576px) {
    .carousel-control-next .more {
        right: 4px;
    }
}

@media (min-width: 768px) {
    /*Header Section*/
    .navbar-collapse {
        justify-content: flex-end;
        align-items: flex-start;
    }

    nav li {
        text-align: center;
        font-size: 12px;
    }

    .navbar-brand {
        padding-top: 0;
        margin-right: 0;
    }

    a.nav-link,
    button.nav-link {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .divider {
        border-left: 1px solid #575759;
    }

    nav ul {
        min-width: 60%;
        justify-content: space-between;
    }

    .nav-item:last-of-type span {
        position: relative;
    }

    .nav-item:last-of-type span .fa {
        position: absolute;
        left: 15px;
        bottom: 1px;
    }

    /* Content Section*/
    .main-column {
        flex: 0 0 50%;
        max-width: 48%;
    }

    .main-column:first-of-type {
        padding-right: 5%;
        border-right: 1px solid;
        max-width: 50%;
        border-bottom: 0;
    }

    main .row {
        margin: 0;
    }

    .carousel-inner:not(.multiple) .active,
    .carousel-inner:not(.multiple) .active + .carousel-item,
    .carousel-inner:not(.multiple) .active + .carousel-item + .carousel-item {
        display: block;
    }

    .carousel-inner:not(.multiple) .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner:not(.multiple) .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner:not(.multiple) .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }

    .carousel-inner:not(.multiple) .carousel-item-next {
        position: relative;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .carousel-inner:not(.multiple) .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    article:not(.multipleCards) .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    article:not(.multipleCards) .carousel-item-next.carousel-item-left:not(.multiple) + .carousel-item,
    article:not(.multipleCards) .carousel-item-next.carousel-item-left:not(.multiple) + .carousel-item + .carousel-item,
    article:not(.multipleCards) .carousel-item-next.carousel-item-left:not(.multiple) + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }


    article:not(.multipleCards) .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        visibility: visible;
    }

    article:not(.multipleCards) .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    article:not(.multipleCards) .carousel-item-prev.carousel-item-right:not(.multiple) + .carousel-item,
    article:not(.multipleCards) .carousel-item-prev.carousel-item-right:not(.multiple) + .carousel-item + .carousel-item,
    article:not(.multipleCards) .carousel-item-prev.carousel-item-right:not(.multiple) + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
    }

    /*  Carousel Cards*/
    .card-bottom {
        justify-content: center;
    }

    #multipleCards .card {
        width: 23.33%;
    }

    #multipleCards .card {
        margin-bottom: 0;
    }

    .carousel-control-next .more {
        right: 5px;
    }

    .num {
        right: 100px;
    }

    .pinned-container {
        height: 200px;
    }

    .pinned-container div i {
        -webkit-transform: scale(4);
        -ms-transform: scale(4);
        transform: scale(4);
    }

    .pinned-container div {
        border-width: 7px;
    }

    #pin-info div:first-of-type .pin {
        padding: 0 30px;
    }

    #back-to-top .fa-chevron-up {
        position: fixed;
        bottom: 150px;
        left: 50%;
        -webkit-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    .slide-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-flow: row;
    }

    .card-header {
        padding: 5px;
        height: 54px;
        overflow: hidden;
    }

}
